<% include partials/header %>

<div class="box">
	<i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
	<h1 class="h1_portfolio">the market</h1>
</div>

<div class="con_portfolio">
  <div class="row">
		<table id="example" class="table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
					<th>Rank</th>
					<th>Currency</th>
					<th>Symbol</th>
					<th>Price USD</th>
					<th>Price BTC</th>
					<th>Market Cap USD</th>
					<th>% Change 24h</th>
        </tr>
      </thead>
      <tbody>
				<% coins.forEach(function(coins){ %>
          <tr>
						<td><%= coins.rank %></td>
						<td><a href="/market/<%= coins.id %>"><%= coins.name %></a></td>
						<td><%= coins.symbol %></td>
						<td><%= coins.price_usd %></td>
						<td><%= coins.price_btc %></td>
						<td><%= coins.market_cap_usd %></td>
						<td><%= coins.percent_change_24h %></td>
          </tr>
				<% }); %>
			</tbody>
    </table>
  </div>
</div>

<% include partials/footer %>
